# -------------------
# Node / Frontend
# -------------------
frontend/node_modules/

frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Next.js build & output
frontend/.next/
frontend/out/
frontend/build/

# Testing
frontend/coverage/

# Debug logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# TypeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# -------------------
# Python / Backend
# -------------------
.venv/                 
*.pyc
backend/__pycache__/

# Environment files
.env*

# -------------------
# OS / Misc
# -------------------
.DS_Store

# -------------------
# Vercel
# -------------------
.vercel
.next
.vscode
